.about-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 108px;
}

.about-section-title {
    font-size: 36px;
    font-weight: 500;
    line-height: 48px;
    color: var(--primary-color);
    margin-top: 0px;
    margin-bottom: 16px;
}

.about-section-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #6F7CB2;
    padding-bottom: 80px;
    margin: 0;
}

.about-items {
    display: flex;
    gap: 30px;
}

.about-items-icon {
    width: 36px;
    height: 36px;

}

.about-items-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    margin-top: 14px;
    margin-bottom: 0;
    color: var(--primary-color);
}

.about-items-description {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #5D6970;
    margin-top: 6px;
}

.about-section-content {
    width: 540px;
    height: 316px;
    padding: 0px 0.37px 0px 0px;
}