.services {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 122.5px;
    padding-bottom: 130.7px;
}

.service {
    &-content {
        width: 445px;
        height: 228px;
    }

    &-title {
        font-size: 36px;
        font-weight: 500;
        line-height: 48px;
        color: var(--primary-color);
    }

    &-description {
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        color: #6F7CB2;
    }
}