@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.nav-button {
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: #FFFFFF;
    text-align: center;
    width: 160px;
    height: 26px;
    border-radius: 2px;
    background-color: #111B47;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}

.button-primary {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    width: 189px;
    height: 36px;
    gap: 0px;
    border-radius: 2px;
    background-color: #111B47;
    opacity: 0px;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}

.button-outline-primary {
    text-decoration: none;
    width: 185px;
    height: 32px;
    border-radius: 2px;
    color: #091133;
    border: 2px solid #091133;
    font-size: 16px;
    font-weight: 500;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

.main-header {
    padding: 15px 0;
    position: relative;
    z-index: 1;
}

.main-header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .nav-list {
    display: flex;
    list-style: none;
    gap: 60px;
    margin: 0;
    padding: 0px;
}

.nav .nav-list a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #505F98;
}

.banner-section {
    display: flex;
    align-items: center;
    height: 1100px;
    position: relative;
}

.banner-content {
    width: 539.37px;
    height: 316px;
    padding: 0px 0.37px 0px 0px;
    position: relative;
    z-index: 1;
}

.banner-title {
    font-size: 50px;
    font-weight: 500;
    line-height: 66px;
    letter-spacing: 1px;
    text-align: left;
    color: #091133;
    margin-top: 0;
}

.banner-description {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #505F98;
    padding-bottom: 51px;
}

.banner-buttons {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
}

.banner-illustration-1 {
    position: absolute;
    right: 0;
    top: -60px;
}

.about-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 108px;
}

.about-section-title {
    font-size: 36px;
    font-weight: 500;
    line-height: 48px;
    color: #091133;
    margin-top: 0px;
    margin-bottom: 16px;
}

.about-section-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #6F7CB2;
    padding-bottom: 80px;
    margin: 0;
}

.about-items {
    display: flex;
    gap: 30px;
}

.about-items-icon {
    width: 36px;
    height: 36px;

}

.about-items-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    margin-top: 14px;
    margin-bottom: 0;
    color: #091133;
}

.about-items-description {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #5D6970;
    margin-top: 6px;
}

.about-section-content {
    width: 540px;
    height: 316px;
    padding: 0px 0.37px 0px 0px;
}

.about-section-image {
    /* width: 540px;
    height: 524.31px;
    top: 1219.65px;
    left: 735px;
    gap: 0px;
    opacity: 0px; */

}

.services {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 122.5px;
    padding-bottom: 130.7px;
}

.service-content {
    width: 445px;
    height: 228px;
}

.service-title {
    font-size: 36px;
    font-weight: 500;
    line-height: 48px;
    color: #091133;
}

.service-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #6F7CB2;
}